{% extends 'IngenieriaEstudianteBundle::layout.html.twig' %}

{% block programa %}
Aplicación WEB  [Estudiante]
{% endblock %}

{% block js  %}
<script>
/*
$( "#actividad" ).css("background-color","#000");
$( "#actividad img" ).css("opacity","0.4");
$( "#actividad h3" ).css("opacity","0.4");*/
</script>

{% endblock %}

{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">
			<h1 class ="sectionTitle">Aviso</h1>
		</div>
		{% endblock  %}

		{% block downSection  %}
		<div class = "downSection">
			
			<div id="error">
				<h2>Aun no ha seleccionado una actividad complementaria</h2>
				<a href="{{ path('ingenieria_estudiante_actividades') }}"  class = "button"><h4>Ver ofertas disponibles!</h4></a>
			</div>
			
		</div><!-- downSection -->
		{% endblock %}
</div>
{% endblock %}

