{% extends '::base.html.twig' %}

{% block title %} Panel Principal:: Actividad complementaria UAO{% endblock %}

{% block stylesheets %}
{{ parent() }}	
{% endblock %}

{% block js  %}
{% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}

{% block sideBarMenu %}
{% endblock  %}

{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">
			<h1 class ="sectionTitle">Aviso</h1>
		</div>
		{% endblock  %}

		{% block downSection  %}
		<div class = "downSection">
			
			<div id="error">
				<h2>Aún no ha seleccionado una actividad complementaria</h2>
				<a href="{{ path('ingenieria_estudiante_actividades') }}"  class = "button"><h4>Ver ofertas disponibles!</h4></a>
			</div>
			
		</div><!-- downSection -->
		{% endblock %}
</div>
{% endblock %}