{% extends 'IngenieriaEstudianteBundle::layout.html.twig' %}

{% block programa %}
Aplicación WEB  [Estudiante]
{% endblock %}

{% block js  %}
{% endblock %}

{% block content  %}
{{ parent() }}
<div class="content">
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Inscripción actividad complementaria</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection"> 
		<div class="profileContainer">
		<h2 style="color : black;">Confirme su inscripcion en la actividad complementaria <a href="{{ path('ingenieria_estudiante_confirmar' , { 'id': datos.idActividad }) }}" class = "button"><h4>Confimar!</h4></a></h2>
		
		</div>
	</div><!--downsection -->

	{% endblock %}
</div><!-- content -->
{% endblock %}
