{% extends '::base.html.twig' %}

{% block title %} Panel Principal:: Actividad complementaria UAO{% endblock %}

{% block stylesheets %}
{{ parent() }}	
{% endblock %}


{% block body %}
{{ parent() }}
{% endblock %}


{% block sideBarMenu %}
		<div id="menu">	
			<a href="{{ path('ingenieria_profesor_homepage') }}" class="menubutton"  id="programas">
				<img id="externoIcon" src="{{ asset('img/externoIcon.png') }}">
				<h3>Estudiantes</h3>
			</a>

		</div>
{% endblock  %}

{% block upSection %} 
{% endblock %}

{% block downSection %} 
{% endblock %}
